<div class="contact">
  <div class="contact-info">
    <span class="contact-name"
      >{{ contact.firstname + " " + contact.lastname }}
    </span>
    <span class="contact-phone">{{ contact.phone }}</span>
  </div>
  <div class="contact-action">
    <fa-icon
      [icon]="faEdit"
      (click)="updateContact(contact)"
      class="btn btn-warning btn-sm contact-action--icon"
    ></fa-icon>
    <fa-icon
      [icon]="faTrash"
      (click)="deleteContact(contact.id)"
      class="btn btn-danger btn-sm contact-action--icon"
    ></fa-icon>
  </div>
</div>
